@using WebApplication3.Models.ViewModels;
@model PositionsAddDTO;

@{
  if (String.IsNullOrEmpty(Model.Name)) {
    ViewData["Title"] = "Adding";
  } else {
    ViewData["Title"] = "Change";
  }
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div asp-validation-summary="ModelOnly"></div>
<div class="form-div add-position">
  <form asp-formhelper="true" asp-controller="Positions" asp-action="Add">
    <input type="hidden" value="@Model?.Position?.Id" name="Id" />
    <div>
      <p><label for="Name">Категория</label></p>
      <p>
        <input asp-for="Name" list="Namelist" /> <br />
        <span class="error" asp-validation-for="Name"></span>
      </p>
    </div>
    <div>
      <p><label for="Subname">Должность</label></p>
      <p>
        <input asp-for="Subname" /><br />
        <span class="error" asp-validation-for="Subname"></span>
      </p>
    </div>
    <div>
      <input type="submit" value="submit"/>
      <span><button type="submit" class="button button-simple">Отправить</button></span>
      <span><button type="reset" class="button button-simple">Сбросить</button></span>
    </div>

    <datalist id="Namelist">
      @foreach (var pos in Model?.Positions) {
        <option value="@pos"></option>
      }
    </datalist>

  </form>

</div>