@using WebApplication3.Models.Entities;
@model IList<Position>
@{
    ViewData["Title"] = "Positions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="position-table">
    <div class="submenu">
        <a href="positions/add" class="button button-simple">Добавить</a>
    </div>
    <table class="machinery-table">
        <tr class="table-header">
            <td><h6>Id</h6></td>
            <td><h6>Категория</h6></td>
            <td><h6>Должность</h6></td>
            <td><h6>Сотрудники</h6></td>
            <td colspan="2"></td>
        </tr>
        @foreach (var pos in Model) {
            <tr class="table-content">
                <td><p>@pos.Id</p></td>
                <td><p>@pos.Name</p></td>
                <td><p>@pos.Subname</p></td>
                <td>
                    @foreach(var emp in pos.Employees) {
                    <p>@emp.GetFIO()</p>
                    }
                </td>
                <td ><a class="button-on-table" href="positions/add?id=@pos.Id"><img class="icon" src="~/source/Image/change.png" alt="change" /></a></td>
                <td ><a class="button-on-table" href="positions/delete?id=@pos.Id"><img class="icon" src="~/source/Image/delete.png" alt="delete" /></a></td>
            </tr>
        }
    </table>
</div>