
@{
    ViewData["Title"] = "Positions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="position-table">
    <div class="submenu">
        <a href="positions/add" class="button add-position positionbutton submenu-button">Добавить</a>
    </div>
    <table class="table1">
        <tr>
            <td><h6>Id</h6></td>
            <td><h6>Категория</h6></td>
            <td><h6>Должность</h6></td>
            <td><h6>Сотрудники</h6></td>
            <td colspan="2"></td>
        </tr>
        @foreach (var pos in ViewBag.Positions) {
            <tr>
                <td><p>@pos.Id</p></td>
                <td><p>@pos.Name</p></td>
                <td><p>@pos.Subname</p></td>
                <td>
                    @foreach(var emp in pos.Employees) {
                    <p>@emp.GetFIO()</p>
                    }
                </td>
                <td><a href="positions/add?id=@pos.Id" class="button-on-table">Изменить</a></td>
                <td><a href="positions/delete?id=@pos.Id" class="button-on-table">Удалить</a></td>
            </tr>
        }
    </table>
</div>