@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
  Model Order
  ViewBag.Areas
*@
@{
}
<div class="order-area-choice">
  <ul class="order-area choice">
    @foreach (var area in ViewBag.Areas) {
      <li>
        <input type="radio" value="@area.Id" name="OrderAreaId" checked="@(Model.Area.Id==area.Id)" id="area+@area.Id" />
        <label class="button-on-table label-radio" for="area+@area.Id">
          @area.Name
        </label>
      </li>
    }
  </ul>
</div>