@using WebApplication3.Models.ViewModels;
@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
  Model Order
*@
@{
}
<div class="order-main-settings">
  <table>
    <tr>
      <td>Дата</td>
      <td>
        Смена
        @if (Model.Order.IsClose) {
          <p id="isClose">(Смена закрыта)</p>
        }
      </td>
    </tr>
    <tr>
      <td><input type="date" name="Date" value="@Model.Order?.Date.ToString("yyyy-MM-dd")" required /></td>
      <td>
        <p>
          <input type="radio" value="1" name="ShiftId" checked="@(Model.Order.Shift==1)" id="shift1" />
          <label class="button-on-table label-radio" for="shift1">
            Смена 1
          </label>

        </p>
        <p>
          <input type="radio" value="2" name="ShiftId" checked="@(Model.Order.Shift==2)" id="shift2" />
          <label class="button-on-table label-radio" for="shift2">
            Смена 2
          </label>
        </p>
      </td>
    </tr>
    <tr>
    </tr>
  </table>
  <div>
    <a href="/order?@GetPrevios()" class="button button-simple"><img class="icon" src="~/source/Image/left.png" alt="<" /></a>
    <a href="/order?@GetNext()" class="button button-simple"><img class="icon" src="~/source/Image/right.png" alt=">" /></a>
    <button type="submit" formmethod="get" class="button button-simple"><img class="icon" src="~/source/Image/find.png" alt="find" /></button>
  </div>
</div>

@functions {

  string GetNext() {
    string next = "";
    if (Model.Order.Shift == 1) {
      next = $"OrderAreaId={Model.Order.Area.Id}&ShiftId={2}&Date={Model.Order.Date.ToString("yyyy-MM-dd")}";
    } else if (Model.Order.Shift == 2) {
      next = $"OrderAreaId={Model.Order.Area.Id}&ShiftId={1}&Date={Model.Order.Date.AddDays(1).ToString("yyyy-MM-dd")}";
    }
    return next;
  }

  string GetPrevios() {
    string previos = "";
    if (Model.Order.Shift == 1) {
      previos = $"OrderAreaId={Model.Order.Area.Id}&ShiftId={2}&Date={Model.Order.Date.AddDays(-1).ToString("yyyy-MM-dd")}";
    } else if (Model.Order.Shift == 2) {
      previos = $"OrderAreaId={Model.Order.Area.Id}&ShiftId={1}&Date={Model.Order.Date.ToString("yyyy-MM-dd")}";
    }
    return previos;
  }
}