@using WebApplication3.Models.ViewModels;
@model ResultViewModel
@{
    ViewData["Title"] = @Model?.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="message">@Model?.Message</h3>
<a href="@Model.Link" class="button button-simple">@Model.ButtonText</a>