@using WebApplication3.Models.ViewModels;
@model TimeLineViewModel

@{
  ViewData["Title"] = "Time line";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-menu">
  <div class="order-main-settings">
    @await Html.PartialAsync("_OrderShift")
  </div>
  <div class="order-staff-settings">
    <div>
      <h6> Диспетчер: </h6>
      <p> @Model.Order?.Dispetcher.GetFIO()</p>
    </div>
    <div>
      <h6> Начальник: </h6>
      <p> @Model.Order?.Chief.GetFIO()</p>
    </div>
    <div>
      <h6> Горный мастер: </h6>
      <p>
        @foreach (var m in Model.Order?.MiningMaster) {
          @m.GetFIO()<br>
        }
      </p>
    </div>
  </div>
</div>

<div class="timeline-addwork-panel">
  <div @if (String.IsNullOrEmpty(Model.MachineName)) { @: hidden
       }>
    @await Html.PartialAsync("_AddWorkPanel")
  </div>
</div>

<div class="timeline-main">
  <div>
    @await Html.PartialAsync("_TimelineTable")
  </div>
</div>


<menu type="context" id="context-menu-timeline">
  <menuitem label="Работа" icon="~/wwwroot/Source/ContextMenuIcons/Pen.png" onclick=""></menuitem>
  <menuitem label="Удалить" icon="~/wwwroot/Source/ContextMenuIcons/Delete.png" onclick=""></menuitem>
</menu>

