@using WebApplication3.Models.ViewModels;
@model AddEmployeeViewModel

@{
  if (String.IsNullOrEmpty(Model.Name)) {
    ViewData["Title"] = "Adding";
  } else {
    ViewData["Title"] = "Change";
  }
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-div add-employee">
  <form class="form-add-employee" method="post" asp-action="Add" asp-controller="Staff">
    <input type="hidden" asp-for="Id"/>

    <table class="table add-employee-table">
      <tr>
        <td><label asp-for="Lastname"></label></td>
        <td>
          <input asp-for="Lastname" size="40" /><br />
          <span asp-validation-for="Lastname" class="error"></span>
        </td>
      </tr>
      <tr>
        <td><label asp-for="Name"></label></td>
        <td>
          <input asp-for="Name" size="40" /><br />
          <span asp-validation-for="Name" class="error"></span>
        </td>
      </tr>
      <tr>
        <td><label asp-for="Fathername"></label></td>
        <td>
          <input asp-for="Fathername" size="40" /><br />
          <span asp-validation-for="Fathername" class="error"></span>
        </td>
      </tr>
      <tr>
        <td><label asp-for="TableNumber"></label></td>
        <td>
          <input asp-for="TableNumber" size="10" type="number" /><br />
          <span asp-validation-for="TableNumber" class="error"></span>
        </td>
      </tr>
      <tr>
        <td><label asp-for="PositionId"></label></td>
        <td>
          <select asp-for="PositionId">
            @foreach (var pos in Model.Positions) {
              <option value="@pos.Id" selected="@(pos.Id == Model?.Position?.Id)">
                @pos.Subname
              </option>
            }
          </select><br />
          <span asp-validation-for="PositionId" class="error"></span>
        </td>
      </tr>
      <tr>
        <td><button type="submit" class="button button-simple">Отправить</button></td>
        <td><a href="~/staff" class="button button-simple">Вернуться</a></td>
      </tr>

    </table>
  </form>

</div>