body {
}
a{
    text-decoration-style:none;
    color:black;
}
a:hover {
    text-decoration-style: none;
    color: black;
}
a:active {
    text-decoration-style: none;
    color: black;
}

div {
}

#wrapper {
    background-color: #ccc;
    padding: 10px;
}

.border-radius {
    border-radius: 10px;
}

#main {
    padding: 20px;
    background-color: #dee;
}

#title {
    padding: 10px 0 10px 30px;
}

#nav ul li {
    display: inline;
}

#nav ul {
    list-style: none;
}

    #nav ul li {
        display: inline;
    }

        #nav ul li a {
            display: inline-block;
            width: 10em;
            height: 2em;
            padding: 2px;
            background-color: #ddd;
            text-decoration: none;
            color: #222;
            text-align: center;
        }

            #nav ul li a:hover {
                background-color: #ccc;
            }

            #nav ul li a:active {
                background-color: #bbb;
            }

header {
    background-color: #eee;
}

#nav {
    padding: 0;
    display: block;
}

#menu {
    padding: 0;
    margin: 0 0 0 20px;
}
/* Ввод текста */
.input-veryshort-text {
    width: 5em;
}
.input-short-text {
    width: 10em;
}
.input-medium-text {
    
    width: 20em;
}
.input-long-text {
    width: 30em;
}


/*Список сотрудников*/
.submenu {
    margin-bottom: 10px;
}


.table1 tr td {
    text-align: center;
    border: 1px solid #49648B;
}

.table1 tr td h6 {
    margin: 5px;
}


.button-on-table {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 100%;
    height: 100%;
    border-style: none;
    padding: 5px;
}

.button {
    display: inline-block;
    text-decoration: none;

    text-align: center;
    padding: 5px;
    border: none;
}

.button-simple {
    margin: 2px;
    width: auto;
    height: 2em;
    max-width: 20em;
    background-color: #C5D4EB;
    color: black;
    border: none;
}
    .button-on-table:hover {
        transform: scale(1.05);
        text-decoration: none;
        color: black;
    }
    .button-on-table:visited {
        text-decoration: none;
        color: black;
    }
.button-on-table:active {
    transform: scale(0.95);
    text-decoration: none;
}
.button-simple:hover {
    background-color: #ACBED9;
    text-decoration: none;
    color: black;
    border: none;
}
.button-simple:visited {
    text-decoration: none;
    color: black;
    border: none;
}
.button-simple:active {
    background-color: #93A7C5;
    text-decoration: none;
    border: none;
}


/* Строка поиска */
    .find {
    margin: 10px 0;
}

.find-input {
    width: 20em;
}
/* Должности */

/* Наряд */

.order-settings {
    height: 200px;
}

.order-main-settings {
    max-width: 350px;
display: inline-block;
vertical-align: top;
}

    .order-main-settings div {
        padding-top: 5px;
        max-width: 350px;
        display: inline-block;
    }

.order-staff-settings div {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.order-staff-settings  {
    padding-top: 5px;
    display: inline-block;
    max-width: 1000px
}
    .order-staff-settings p {
        padding: 0px;
        margin: 0px;
    }
    #save-panel {
        max-width: 100px;
        display: block;
        text-align: center;
        vertical-align: top;

    }


.inline-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
    .inline-ul li {
        display: inline-block;
        width: auto;
        vertical-align: top;
    }
        .inline-ul li input {
        }
        .label-radio {
    display: inline-block;
    width: 7em;
}

/* AddMachineToOrder */
.machinery-property {
    width: 90%;
    margin: auto;
    border: 5px solid #8098CD;
}

    .machinery-property tr td {
        margin: 10px;
        vertical-align: top;
    }
.machinery-property fieldset {
    padding: 5px;
    border: 2px solid #8098CD;
}

.savebuttons {
    text-align: center;
}
.subblock p{
    margin-bottom: 5px;
}
#Crew {
    height:20em;
}
.hint {
    font-size: 0.7em;
    text-align: center;
}

/* Machinery table */
.machinery-table table {
    width: 95%;
}

.machinery-table  tr td:first-child {
    border-left: 2px solid #1C3260;
}
.machinery-table  tr td:last-child {
    border-right: 2px solid #1C3260;
}
.machinery-table tr:nth-child(even) {
    background-color: #C5DFEB;
}

.machinery-table  tr:first-child td {
    border: 2px solid #1C3260;
}

.machinery-table  tr:last-child td {
    border-bottom: 2px solid #1C3260;
}


.machinery-table td {
    border: 2px solid #51A6A9;
    padding: 0;
    text-align: center;
    min-width: 4em;
}
    
    .machinery-table td p {
    margin: 5px;
}
.table-header dt {
    padding: 5px;
}
.table-content td a {
    display:block;
    text-decoration:none;
    height: 100%;
    width: 100%;
}
.active-cell a {
    display: block;
    height: 100%;
    width: 100%;
}
.icon {
    max-height: 2em;
    height: 100%;
    width: auto;
}


.active-cell:hover {
    background-color: #4ECDE4;
}
.active-cell:active {
    background-color: #3EB0C4;
}
/* TimeLine page */
.timeline-staff-table td:nth-child(odd){
    padding-left: 30px;
}

.timeline-main {
    vertical-align:top;
}
.timeline-addwork-panel {

    
}
.top-menu {
    max-height: 200px;
}
/* TimeLine table */
.timeline-table {
    width: 1620px;
    table-layout: fixed;
}
    .timeline-table td {
    }
.timeline-content-table tr {
    vertical-align: top;
    border: 2px solid gray;
}
.timeline-content-table td {
    vertical-align: top;
    border-left: 1px dashed black;
    
}

    .timeline-content-table td:nth-child(6n+2) {
        border-left: 2px solid gray;
    }

.timeline-table tr td:first-child {
    width: 180px;
}

.timeline-cells {
    width: 20px;
    height: 2em;
}
.timeline-headtable td{
    vertical-align: bottom;
}

.timeline-headtable span {
    left: -20px;
    position: relative;
    width: 40px;
    text-align: center;
}
/* works on timline*/
.trapeze {
    height: 1.5em;
    width: 200px;
    border: 2px solid;
    text-align: center;
    transform: perspective(100px) scaleX(0.98) rotateX(15deg);
}
.rectangle {
    height: 1.5em;
    border: 2px solid;
    text-align: center;
}

work-for-timeline {
    padding: 0;
    display: inline-block;
}
.button-fill {
    width: 100%;
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

    .button-fill:hover {
        text-decoration: underline;
        color: inherit;
    }
    .button-fill:active {
        text-decoration: none;
        color: inherit;
    }
    .button-fill:visited {
        text-decoration: none;
        color: inherit;
    }


    /* machinaries editing table*/
.main-table {
    display: inline-block;
}
    .adding-panel {
        margin-left: 20px;
        vertical-align: top;
        max-width: 300px;
        display: inline-block;
    }

    .machinery-page {
        vertical-align: top;
    }