body {
}

div {
}

#wrapper {
    background-color: #ccc;
    padding: 10px;
}

.border-radius {
    border-radius: 10px;
}

#main {
    padding: 20px;
    background-color: #dee;
}

#title {
    padding: 10px 0 10px 30px;
}

#nav ul li {
    display: inline;
}

#nav ul {
    list-style: none;
}

    #nav ul li {
        display: inline;
    }

        #nav ul li a {
            display: inline-block;
            width: 10em;
            height: 3em;
            padding: 10px;
            background-color: #ddd;
            text-decoration: none;
            color: #222;
            text-align: center;
        }

            #nav ul li a:hover {
                background-color: #ccc;
            }

            #nav ul li a:active {
                background-color: #bbb;
            }

header {
    background-color: #eee;
}

#nav {
    padding: 0;
    display: block;
}

#menu {
    padding: 0;
    margin: 0 0 0 20px;
}

/*Список сотрудников*/
.submenu {
    margin-bottom: 10px;
}

    .submenu a {
        display: inline-block;
        border-style: outset;
        height: 2em;
        background-color: #DDD;
        text-decoration: none;
        color: black;
        padding: 0px;
        text-align: center;
        width: 10em;
    }

        .submenu a:hover {
            background-color: #ccc;
        }

        .submenu a:active {
            transform: scale(0.95);
        }


.table1 tr td {
    text-align: center;
    border: 1px solid #49648B;
}

.table1 tr td h6 {
    margin: 5px;
}


.button-on-table {
    display: inline-block;
    background-color: #C5D4EB;
    text-decoration: none;
    color: black;
    text-align: center;
    height: 2.5em;
    width: auto;
    height: 100%;
    border-style: none;
    text-decoration: none;
    color: black;
    padding: 5px;
    max-width: 10em;
}
    .button-on-table:hover {
        background-color: #ACBED9;
        text-decoration: none;
        color: black;
    }
    .button-on-table:visited {
        text-decoration: none;
        color: black;
    }
    .button-on-table:active {
        background-color: #93A7C5;
        text-decoration: none;
    }
/* Строка поиска */
.find {
    margin: 10px 0;
}

.find-input {
    width: 20em;
}
/* Должности */

/* Наряд */

.order-settings {
    height: 200px;
}

.order-main-settings {
    width: 300px;
    float: left;
}

.order-staff {
    width: 800px;
    margin:auto;
    /*margin-left: 320px;*/
    /*margin-right: 320px;*/
}

.order-area-choice {
    margin-top: 30px;
    clear:both;
    width: 100%;

}
.order-area-choice ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
    .order-area-choice ul li {
        display: inline-block;
        width: auto;
    }
    .order-area-choice ul li input {
    }
        .label-radio {
    display: inline-block;
    width: 7em;
}

/* AddMachineToOrder */
.machinery-property {
    width: 90%;
    margin: auto;
    border: 5px solid #8098CD;
}

.machinery-property tr td {
    margin: 10px;
}
.machinery-property fieldset {
    padding: 5px;
    border: 2px solid #8098CD;
}

.savebuttons {
    text-align: center;
}
.subblock {
    
}
#Crew {
    height:20em;
}

/* Machinery table */
.machinery-table table {
    width: 95%;
}

.machinery-table  tr td:first-child {
    border-left: 2px solid #1C3260;
}
.machinery-table  tr td:last-child {
    border-right: 2px solid #1C3260;
}
.machinery-table tr:nth-child(even) {
    background-color: #C5DFEB;
}

.machinery-table  tr:first-child td {
    border: 2px solid #1C3260;
}

.machinery-table  tr:last-child td {
    border-bottom: 2px solid #1C3260;
}


.machinery-table td {
    border: 2px solid #51A6A9;
    padding: 0;
    text-align: center;
    min-width: 4em;
}
    
    .machinery-table td p {
    margin: 5px;
}
.table-header dt {
    padding: 5px;
}
.table-content a {
    display: inline-block;
    height: 100%;
    width: 100%;
}
.table-content a img{
    height: 2em;
    width: auto;
}
.table-content a:hover { 
    transform: scale(1.1);
}
.table-content a:active {
    transform: scale(0.9);
}
.active-cell:hover {
    background-color: #4ECDE4;
}
.active-cell:active {
    background-color: #3EB0C4;
}